@use "../variables" as *;
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

%centeredFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    box-sizing: border-box;
    font-size: 10px; // 1rem = 10px
}
* {
    margin:0;
    padding: 0;
    font-family: Lato, sans-serif;
}
body {
    @extend %centeredFlexBox;
    margin:0;
    min-height: 100vh;

    background-color: $secondary-background-color;
    background-image:  repeating-linear-gradient(45deg, $background-color 25%, transparent 25%, transparent 75%, $background-color 75%, $background-color), repeating-linear-gradient(45deg, $background-color 25%, $secondary-background-color 25%, $secondary-background-color 75%, $background-color 75%, $background-color);
    background-position: 0 0, 40px 40px;
    background-size: 80px 80px;
}